section#jumbotron{
    background-color: #1abc9c;
}

.my-jumbobox{
    height: 400px;
    width: 600px;
    margin: 0 auto;
    background-color: aqua;
}

.box-riempitore-img{
    background-color: magenta;
    height: 150px;
    border: 1px solid white;
}

.my-box-message{
    height: 100px;
}

.box-riempitore{
    background-color: blueviolet;
    height: 100px;
}